/* Css des balises, des classes et du responsive utilisées dans le corps des pages (le body principalement)*/
/*Import*/
@import "inc/variables";
@import "inc/menu";
@import "inc/preFooter";
@import "inc/footer";


/*CSS des balises*/
html{
	height: 100%;
}

body{
	height: 100%;
	background-image: $texture-body;	
}

h1{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size : 50px;
}

a{
	text-decoration:none; 
	color: $couleur-vert;

	:hover{
	color: $couleur-hover;
	}
}

table{
	margin: auto;
	th{
		font-size: 24px;
	}

	td{
		text-align: left;
	}
}

td{
	text-align :center;
}

hr{
	margin-top: 60px;
	margin-bottom: 60px;
}

i.icon-up-circled{
	font-size : 38px;
}

form{
	padding : 20px;

	label, input{
		margin : 15px 5px 15px 5px;
	}

	#label-message{
		vertical-align: top;
	}

}


/*CSS des classes*/
.corps {
	min-height: 100%;
	background: #F8F5F5;
	width: 70%;
	margin: auto; /* Permet de centrer la div */
	text-align: justify;
	padding: 30px;
}

.centre{
	text-align: center;	
}

//tailles d'image
.img-full{
	width: 100%;
	max-height: 300px;
}

.img-small{
	width: 300px;
	height: 250px;
}

.img-small-special{
	width: 150px;
	height: 250px;
}

.bord-table{
		border-spacing: 0px;//espace entre les elements de 0px
		
		th{
			font-size: 24px;
			border:1px solid black;
			border-radius: 1px;
			border-radius: 5px 5px 0 0;
		}

		td{
			text-align: left;
			border:1px solid black;
			border-radius: 1px;
			border-radius: 0 0 5px 5px;
		}
	}

//faire un encadré
.contour{
	border: 1px solid black;
	border-radius: 5px;
}

.float-right{
	float: right;
}


/*Responsive*/
//Tableaux d'images utilisé notamment dans la page Réalisations
@media (max-width: 1100px) { 
  
	 .responsive-table-line td:before { content: attr(data-title); } 
	 .responsive-table-line table,  
	 .responsive-table-line thead,  
	 .responsive-table-line tbody,  
	 .responsive-table-line th,  
	 .responsive-table-line td,  
	 .responsive-table-line tr {  
	 	display: block;  
	 	border:none;
	 } 
	   
	 .responsive-table-line thead tr {  
	 ²display:none; 
	 } 
	  
	 .responsive-table-line td {  
		position: relative; 
		white-space: normal; 
	} 
} 

//Grossir les zones de clic
@media screen and (max-width: 640px){
	table{
		li{
			padding: 5px;
			font-size : 18px;
		}
	}

	.zone-clic-titre{
		display: block;
		line-height: 100px;
	}

	.zone-fleche-haut{
		display: block;
		line-height: 100px;
	}

	.zone-bouton{
		width: 100px;
    	height: 50px;
	}

	.zone-textarea{
		width: 80%
	}

	.padding-5px{
		padding: 5px;
	}	
}




















@media screen and (max-width: 1200px) {
	body{
  		
  	}
}

@media screen and (max-width: 750px) {
	body{
  		
  	}
}

@media screen and (max-width: 480px) {
	body{
  		
  	}
}