body {
  background-color: #D0D0D0; }

.menu li {
  background-color: blue; }
  .menu li a {
    color: #d2ee23; }
    .menu li a:hover {
      text-decoration: none; }
    .menu li a.last {
      color: #fff; }
