@charset "UTF-8";
/* Css des balises, des classes et du responsive du corps des pages*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
/* Css du menu*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
.menu {
  padding: 0;
  max-height: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: auto;
  /* Permet de centrer la div */
  overflow-y: hidden; }
  .menu li {
    list-style-type: none;
    background-color: #282828; }
    .menu li a {
      display: block;
      padding: 20px;
      background-color: #525252; }
      .menu li a i {
        font-size: 20px; }
    .menu li a:hover {
      color: #2E4E1F; }
  .menu.menu-open {
    max-height: 500px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

@media screen and (min-width: 640px) {
  .menu {
    display: table;
    width: 100%; }
    .menu li {
      display: table-cell; }
      .menu li a {
        text-align: center; }
      .menu li a:hover {
        color: #2E4E1F; }
  .icon-menu {
    display: none; } }

/* Css du preFooter*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
.preFooter {
  padding-top: 20px;
  background-color: #525252;
  width: 100%;
  text-align: center;
  display: table; }
  .preFooter ul {
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    /*colle le preFooter et le footer*/ }
    .preFooter ul li {
      list-style-type: none;
      /*pas de puce*/
      width: 100%; }
      .preFooter ul li a {
        display: table-cell;
        text-align: center;
        display: block;
        color: #000000; }
      .preFooter ul li a:hover {
        color: #2E4E1F; }

/*Css du footer*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
footer {
  background-color: #0f0f0f;
  color: #ffffff;
  text-align: center;
  padding: 5px; }

.blanc {
  color: #ffffff; }

a:hover {
  color: #2E4E1F; }

/*CSS des balises*/
html {
  height: 100%; }

body {
  height: 100%;
  background-image: url("/images/texture-body.png"); }

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px; }

a {
  text-decoration: none;
  color: #5CA03C; }
  a :hover {
    color: #2E4E1F; }

table {
  margin: auto; }
  table th {
    font-size: 24px; }

td {
  text-align: center; }

hr {
  margin-top: 60px;
  margin-bottom: 60px; }

i.icon-up-circled {
  font-size: 36px; }

/*CSS des classes*/
.corps {
  min-height: 100%;
  background: #F8F5F5;
  width: 70%;
  margin: auto;
  /* Permet de centrer la div */
  text-align: justify;
  padding: 30px; }

.centre {
  text-align: center; }

.img-full {
  width: 100%;
  height: 300px; }

.img-small {
  width: 300px;
  height: 250px; }

.img-small-special {
  width: 150px;
  height: 250px; }

.contour {
  border: 1px solid black;
  border-radius: 5px; }

.float-right {
  float: right; }

/*Responsive*/
@media (max-width: 1100px) {
  .responsive-table-line td:before {
    content: attr(data-title); }
  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
    display: block;
    border: none; }
  .responsive-table-line thead tr {
    ²display: none; }
  .responsive-table-line td {
    position: relative;
    white-space: normal;
    text-align: center; } }

@media screen and (max-width: 640px) {
  table li {
    padding: 5px; }
  .zone-clic-titre {
    display: block;
    line-height: 100px; }
  .zone-fleche-haut {
    display: block;
    line-height: 100px; }
  .padding-5px {
    padding: 5px; } }
