/* Css du menu*/
/*Import*/
@import "inc/variables";

.menu{

	padding: 0;
	max-height: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	

	border-radius: 15px, 15px, 15px, 15px;
	margin: auto; /* Permet de centrer la div */
	overflow-y: hidden;
	
	li{
		list-style-type: none;
		background-color: #282828;

		a{
			display:block;
			padding : 20px;
			background-color: #525252;

			i{
				font-size : 20px;
			}
		}

		a:hover{
			color: $couleur-hover;
		}

		a:hover{
  			color: #F1F1F1;

  			}
	}
	&.menu-open{
		max-height: 500px;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
<<<<<<< HEAD
=======

		border-radius: 15px, 15px, 15px, 15px;
>>>>>>> 4a63784353f891714e70aae3f40c591026a121db
	}
}

@media screen and (min-width: 640px) {
	.menu{
  		display : table;
  		width: 100%;

  		li{
  			display : table-cell;
  			a{
  				text-align: center;
  			}

  			a:hover{
<<<<<<< HEAD
				color: $couleur-hover;
			}
=======
  			color: #F1F1F1;

  			}
>>>>>>> 4a63784353f891714e70aae3f40c591026a121db
  		}
  	}

  	.icon-menu{
  		display:none;
<<<<<<< HEAD
  	}
=======

  	}

>>>>>>> 4a63784353f891714e70aae3f40c591026a121db
}