/* Css du menu*/
/*Import*/
@import "inc/variables";


//Comportement du menu pour les pages inferieur à une résolution de 640px
.menu{

	padding: 0;
	max-height: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
	margin: auto; /* Permet de centrer la div */
	overflow-y: hidden;
	
	li{
		list-style-type: none;
		background-color: #282828;

		a{
			display:block;
			padding : 20px;
			background-color: $couleur-menu;

			i{
				font-size : 20px;
			}
		}

		a:hover{
			color: $couleur-hover;
		}
	}
	&.menu-open{
		max-height: 500px;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
}

//Comportement du menu pour les pages superieur à une résolution de 640px
@media screen and (min-width: 640px) {
	.menu{
  		display : table;
  		width: 100%;

  		li{
  			display : table-cell;
  			a{
  				text-align: center;
  			}

  			a:hover{
				color: $couleur-hover;
			}
  		}
  	}

  	.icon-menu{
  		display:none;
  	}
}