/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
$texture-body: url("/images/texture-body.png");
$couleur-menu:#525252;
$couleur-preFooter:#525252;
$blanc: #ffffff;
$couleur-hover: #2E4E1F;
$couleur-vert: #5CA03C;