@charset "UTF-8";
/* Css des balises, des classes et du responsive utilisées dans le corps des pages (le body principalement)*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
/* Css du menu*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
.menu {
  padding: 0;
  max-height: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: auto;
  /* Permet de centrer la div */
  overflow-y: hidden; }
  .menu li {
    list-style-type: none;
    background-color: #282828; }
    .menu li a {
      display: block;
      padding: 20px;
      background-color: #525252; }
      .menu li a i {
        font-size: 20px; }
    .menu li a:hover {
      color: #2E4E1F; }
  .menu.menu-open {
    max-height: 500px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

@media screen and (min-width: 640px) {
  .menu {
    display: table;
    width: 100%; }
    .menu li {
      display: table-cell; }
      .menu li a {
        text-align: center; }
      .menu li a:hover {
        color: #2E4E1F; }
  .icon-menu {
    display: none; } }

/* Css du preFooter*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
.preFooter {
  padding-top: 20px;
  background-color: #525252;
  width: 100%;
  display: table; }
  .preFooter ul {
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    /*colle le preFooter et le footer*/ }
    .preFooter ul li {
      list-style-type: none;
      /*pas de puce*/
      width: 100%; }
      .preFooter ul li a {
        display: table-cell;
        display: block;
        color: #000000; }
      .preFooter ul li a:hover {
        color: #2E4E1F; }

/*Css du footer*/
/*Import*/
/* Déclaration et initialisations des variables utilisées dans les autres feuilles scss*/
footer {
  background-color: #0f0f0f;
  color: #ffffff;
  text-align: center;
  padding: 5px; }

.blanc {
  color: #ffffff; }

a:hover {
  color: #2E4E1F; }

/*CSS des balises*/
html {
  height: 100%; }

body {
  height: 100%;
  background-image: url("../images/texture-body.png"); }

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px; }

a {
  text-decoration: none;
  color: #5CA03C; }
  a :hover {
    color: #2E4E1F; }

table {
  margin: auto; }
  table th {
    font-size: 24px; }
  table td {
    text-align: left; }

td {
  text-align: center; }

hr {
  margin-top: 60px;
  margin-bottom: 60px; }

i.icon-up-circled {
  font-size: 38px; }

form {
  padding: 20px; }
  form label, form input {
    margin: 15px 5px 15px 5px; }
  form #label-message {
    vertical-align: top; }

/*CSS des classes*/
.corps {
  min-height: 100%;
  background: #F8F5F5;
  width: 70%;
  margin: auto;
  /* Permet de centrer la div */
  text-align: justify;
  padding: 30px; }

.centre {
  text-align: center; }

.img-full {
  width: 100%;
  max-height: 300px; }

.img-small {
  width: 300px;
  height: 250px; }

.img-small-special {
  width: 150px;
  height: 250px; }

.bord-table {
  border-spacing: 0px; }
  .bord-table th {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 1px;
    border-radius: 5px 5px 0 0; }
  .bord-table td {
    text-align: left;
    border: 1px solid black;
    border-radius: 1px;
    border-radius: 0 0 5px 5px; }

.contour {
  border: 1px solid black;
  border-radius: 5px; }

.float-right {
  float: right; }

/*Responsive*/
@media (max-width: 1100px) {
  .responsive-table-line td:before {
    content: attr(data-title); }
  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
    display: block;
    border: none; }
  .responsive-table-line thead tr {
    ²display: none; }
  .responsive-table-line td {
    position: relative;
    white-space: normal; } }

@media screen and (max-width: 640px) {
  table li {
    padding: 5px;
    font-size: 18px; }
  .zone-titre {
    display: block;
    line-height: 100px; }
  .zone-menu {
    display: block;
    line-height: 50px; }
  .zone-fleche-haut {
    display: block;
    line-height: 100px; }
  .zone-bouton {
    width: 100px;
    height: 50px; }
  .zone-textarea {
    width: 80%; }
  .padding-5px {
    padding: 5px; } }

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?7406703');
  src: url('font/fontello.eot?7406703#iefix') format('embedded-opentype'),
       url('font/fontello.woff?7406703') format('woff'),
       url('font/fontello.ttf?7406703') format('truetype'),
       url('font/fontello.svg?7406703#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7406703#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-user-female:before { content: '\e804'; } /* '' */
.icon-mouse:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e806'; } /* '' */
.icon-up-circled:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-left-small:before { content: '\e809'; } /* '' */